@mixin btn($bg-color:#e2e2e2, $text-color:black) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border:0;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius ;
    background-color: $bg-color;
    color: $text-color;
}

.btn {
    @include btn;
}

@each $key, $val in $colors {
    .btn-#{$key}{
        @include btn($val);
            // hover
        &:hover {
            background-color: lighten($val, 5)
        }   
    }

    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        // hover 
        &:hover {
            background-color: $val;
        }
    }
}


/*

    @if($key == "black"){
            @include btn($val, white);
            // hover 
            &:hover {
                background-color: lighten(white, 5);
                color: lighten(black, 5);

            }
        }
        @else if($key == "white"){
            @include btn(black, white);
            // hover 
            &:hover {
                background-color: lighten(white, 5);
                color: lighten(black, 5);
            }
        }
        @else {
            @include btn($val);
            // hover
            &:hover {
                background-color: lighten($val, 5)
            }
        }
*/